@import "./variable.scss";

$primary-color: map_get($base-colors, "primary-color");
$dark-primary-color: map_get($base-colors, "dark-primary-color");
$secondary-color: map_get($base-colors, "secondary-color");
$black: map_get($font-colors, "black");
$gurkha: map_get($base-colors, "gurkha");
$burnt-sienna: map_get($font-colors, "burnt-sienna");
$tom-thumb: map_get($base-colors, "tom-thumb");
$tom-thumb-light: map_get($base-colors, "tom-thumb-light");
$millbrok: map_get($base-colors, "millbrok");
$mirage: map_get($base-colors, "mirage");
$mantis: map_get($font-colors, "mantis");
$white: map_get($font-colors, "white");
$cello: map_get($font-colors, "cello");
$shuttle_gray: map_get($font-colors, "shuttle_gray");


.clients {

    width: 98%;
    margin: 0 auto;

    .client-container {
        padding-top: 50px;

        .title {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .grid-container {
            margin: 40px 0;

            .grid-image-container {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 50px;

                .client-image-container {
                    opacity: 1;
                    visibility: inherit;
                    transform: translate3d(0px, 0px, 0.1px);
                    height: 146px;
                    width: 220px;
                    display: block;
                    top: 292px;
                    left: 390px;
                    transform-origin: 50% 50%;

                    img {
                        width: 80%;
                        height: 100%;
                        filter: grayscale(100%);

                        &:hover {
                            filter: grayscale(0%);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}