@import "./variable.scss";

$cello: map_get($font-colors, "cello");
$niagara: map_get($font-colors, "niagara");

.detail {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;

  .title-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;

    .back-icon {
      color: crimson;
    }

    .go-back-text {
      letter-spacing: 1.5px;
      color: crimson;
    }

    &:hover {
      .back-icon,
      .go-back-text {
        cursor: pointer;
        color: $niagara;
      }
    }
  }

  .grid-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    .grid-image {
      img {
        width: 80%;
        height: auto;
        max-height: 450px;
        border-top-right-radius: 80px;
        border-bottom-left-radius: 80px;
        border: 2px solid #c1c9de;
        box-shadow: 0 2px 14px 2px rgba(139, 146, 146, 0.527);
      }
    }
    .grid-text-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .title {
        color: $cello;
        word-spacing: 2px;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: serif;
        font-variant: small-caps;
        font-style: oblique;
        font-size: 22px;
        padding-bottom: 20px;
      }

      .description {
        font-size: 18px;
        color: #82725a;
        word-spacing: 2px;
        letter-spacing: 1px;
        font-family: serif;
        font-style: oblique;
      }

      .categories {
        .title {
          padding-bottom: 5px;
        }
        .detail-container {
          .detail {
            padding: 0;
            width: 100%;
            margin-bottom: 10px;
          }
        }
      }

      .type-container {
        .type {
          margin-bottom: 20px;
        }
      }
    }
  }
}
