// fonts
$fonts: (
  "heading": "heading-font",
  "content": "Open Sans",
  "fallBackContent": sans-serif,
);

$font-colors: (
  "dark-gray": #55595d,
  "gray": #686868,
  "light-gray": #919191,
  "white": #ffffff,
  "alto": #d3d3d3,
  "lightning-yellow": #fdc312,
  "blue-bayoux": #525c7d,
  "william": #406775,
  "bombay": #afb4bf,
  "black": #333333,
  "dark-black": #333333,
  "niagara": #0cbe80,
  "niagara_dark": #059160,
  "yellow-orange": #ffae3c,
  "dodger-blue": #2e81f7,
  "burnt-sienna": #ec5757,
  "alabaster": #f7f7f7,
  "cello": #0a1a4a,
  "mantis": #6abf54,
  "shuttle-gray": #636a76,
  "mongoose": #b19777,
  "hippie_blue": #50aab2,
);

/* Colors */
$base-colors: (
  "tom-thumb": #465c40,
  "tom-thumb-light": #57794e,
  "gurkha": #9e9a75,
  "gurkha-light": #c9c6aa,
  "mirage": #1c222e,
  "millbrok": #604439,
);
