@import "../variable.scss";

$primary-color: map_get($base-colors, "primary-color");
$dark-primary-color: map_get($base-colors, "dark-primary-color");
$secondary-color: map_get($base-colors, "secondary-color");
$light_gray: map_get($font-colors, "light-gray");
$dark_gray: map_get($font-colors, "dark-gray");
$white: map_get($font-colors, "white");
$alto: map_get($font-colors, "alto");
$black: map_get($font-colors, "black");
$gurkha: map_get($base-colors, "gurkha");
$gurkha-light: map_get($base-colors, "gurkha-light");
$tom-thumb: map_get($base-colors, "tom-thumb");
$tom-thumb-light: map_get($base-colors, "tom-thumb-light");
$mirage: map_get($base-colors, "mirage");
$mantis: map_get($font-colors, "mantis");
$niagara_dark: map_get($font-colors, "niagara_dark");
$niagara: map_get($font-colors, "niagara");
$burnt-maroon: map_get($font-colors, "burnt-maroon");
$blue-bayoux: map_get($font-colors, "blue-bayoux");
$teal: map_get($font-colors, "teal");

.about-us {
  margin-top: 80px;
  width: 90%;
  margin: 0 auto;

  img {
    vertical-align: middle;
    border-style: none;
  }

  .text-container {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .about-us-text {
      color: $teal;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 22px;
      text-transform: capitalize;
      display: inline-block;
      letter-spacing: 0.1em;
      line-height: 1.5;
    }

    .container-title {
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-size: 32px;
      color: $burnt-maroon;
      font-weight: bold;
      text-decoration: none;
      font-style: unset;
    }

    h6 {
      font-weight: 400;
      letter-spacing: 1.2px;
      line-height: 1.5;
      font-size: 18px;
      margin: 10px 0 0 0;
    }
  }

  .about-img {
    position: relative;
    min-height: 500px;

    .about-front-img {
      position: absolute;
      z-index: 1;
      left: 80px;
      bottom: 0;

      img {
        width: 300px;
        height: 300px;
      }

    }

    .about-back-img {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
    }
  }

  h2 {
    line-height: 1.6;
    color: $teal;
    word-spacing: 3px;
  }

  h3 {
    color: $burnt-maroon;
    font-weight: bold;
    letter-spacing: 1.6px;
    font-size: 30px;
  }

  .box-icon {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .icon-decorative {
      position: relative;
      padding-top: 30px;
      padding-bottom: 34px;
      transform: translate(0, 0);

      &:after {
        content: "";
        position: absolute;
        top: 53%;
        left: 50%;
        width: 160px;
        height: 140px;
        margin-right: auto;
        margin-left: auto;
        //background: url(../../assets/hexagon.png) no-repeat;
        z-index: -1;
        transform: translateX(-50%) translateY(-50%);
      }

      .icon {
        font-size: 72px;
        color: $burnt-maroon;
      }
    }

  }

  .mission-container {
    padding-top: 60px;

    .title-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .title {
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 1.6px;
        text-decoration: none;
        background-image: url('../../assets/underline.png');
        background-position: 54% 83%;
        background-size: 94%;
        background-repeat: no-repeat;
      }

      .description {
        font-size: 20px;
        text-align: center;
        max-width: 550px;
        letter-spacing: 1.5px;
        margin-top: 10px;
        color: $teal;
        font-weight: 500;
      }
    }
  }

  .mission-content-wrap {
    background-color: #f4f8ff;
    border-radius: 10px;
    padding: 35px;
    transition: box-shadow .3s;

    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
      cursor: pointer;
    }

    .mission-icon {
      vertical-align: middle;
      max-width: 100%;
      display: inline-block;
      width: 50px;
      height: 70px;
    }

    .money-icon {
      width: 70px;
      height: 85px;
    }

    .mission-support-title {
      color: $teal;
      margin-top: 30px;
      margin-bottom: 30px;
      font-family: Jost Medium, sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 1;
      font-weight: bold;
      letter-spacing: 1.6px;
    }

    .mission-support-description {
      text-align: left;
      font-size: 18px;
      letter-spacing: 1.3px;
      word-spacing: 1px;
    }

    .support-button-link {
      background-color: rgb(255, 255, 255);
      border-color: rgb(235, 234, 234);
      text-align: center;
      border-radius: 31px;
      justify-content: space-around;
      align-items: center;
      width: 60px;
      height: 40px;
      display: flex;
      position: relative;

      img {
        position: absolute;
        width: 20px;
      }
    }
  }

  @media only screen and (max-width: 570px) {
    margin-top: 0;
  }
}