@import "../variable.scss";

$primary-color: map_get($base-colors, "primary-color");
$dark-primary-color: map_get($base-colors, "dark-primary-color");
$secondary-color: map_get($base-colors, "secondary-color");
$light_gray: map_get($font-colors, "light-gray");
$dark_gray: map_get($font-colors, "dark-gray");
$white: map_get($font-colors, "white");
$alto: map_get($font-colors, "alto");
$black: map_get($font-colors, "black");
$gurkha: map_get($base-colors, "gurkha");
$gurkha-light: map_get($base-colors, "gurkha-light");
$tom-thumb: map_get($base-colors, "tom-thumb");
$tom-thumb-light: map_get($base-colors, "tom-thumb-light");
$mirage: map_get($base-colors, "mirage");
$mantis: map_get($font-colors, "mantis");
$niagara_dark: map_get($font-colors, "niagara_dark");
$niagara: map_get($font-colors, "niagara");
$burnt-sienna: map_get($font-colors, "burnt-sienna");

.about-us {
  margin-top: 80px;
  width: 80%;
  margin: 0 auto;

  img {
    vertical-align: middle;
    border-style: none;
  }

  .text-container {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .about-us-text {
      color: $niagara;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 22px;
      text-transform: capitalize;
      display: inline-block;
      letter-spacing: 0.1em;
      line-height: 1.5;
    }

    .container-title {
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-size: 32px;
      color: #072366;
      font-weight: bold;
      text-decoration: none;
      font-style: unset;
    }

    h6 {
      font-weight: 400;
      letter-spacing: 1.2px;
      line-height: 1.5;
      font-size: 18px;
      margin: 10px 0 0 0;
    }
  }



  .about-img {
    position: relative;
    min-height: 500px;

    .about-front-img {
      position: absolute;
      z-index: 1;
      left: 80px;
      bottom: 0;
    }

    .about-back-img {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
    }
  }

  h2 {
    line-height: 1.6;
    color: $tom-thumb;
    word-spacing: 3px;
  }

  h3 {
    color: $niagara_dark;
    font-weight: bold;
    letter-spacing: 1.6px;
    font-size: 30px;
  }

  .box-icon {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .icon-decorative {
      position: relative;
      padding-top: 30px;
      padding-bottom: 34px;
      transform: translate(0, 0);

      &:after {
        content: "";
        position: absolute;
        top: 53%;
        left: 50%;
        width: 160px;
        height: 140px;
        margin-right: auto;
        margin-left: auto;
        //background: url(../../assets/hexagon.png) no-repeat;
        z-index: -1;
        transform: translateX(-50%) translateY(-50%);
      }

      .icon {
        font-size: 72px;
        color: $tom-thumb-light;
      }
    }

  }

  @media only screen and (max-width: 570px) {
    margin-top: 0;
  }
}