@import "../variable.scss";

$primary-color: map_get($base-colors, "primary-color");
$dark-primary-color: map_get($base-colors, "dark-primary-color");
$secondary-color: map_get($base-colors, "secondary-color");
$light_gray: map_get($font-colors, "light-gray");
$dark_gray: map_get($font-colors, "dark-gray");
$white: map_get($font-colors, "white");
$alto: map_get($font-colors, "alto");
$black: map_get($font-colors, "black");
$gurkha: map_get($base-colors, "gurkha");
$gurkha-light: map_get($base-colors, "gurkha-light");
$tom-thumb: map_get($base-colors, "tom-thumb");
$tom-thumb-light: map_get($base-colors, "tom-thumb-light");
$mirage: map_get($base-colors, "mirage");
$mantis: map_get($font-colors, "mantis");
$niagara_dark: map_get($font-colors, "niagara_dark");
$burnt-sienna: map_get($font-colors, "burnt-sienna");
$cello: map_get($font-colors, "cello");


.culture-container {
    background-color: $cello;
    width: 100%;

    .title {
        color: $white;
    }

    .text-grid {
        padding: 15px;
    }

    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .text-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            
            .small-content {
                color: $light_gray;
            }
        }
    }

}