.facts {
  width: 100%;
  min-height: 200px;
  background: url(../../assets/facts.webp);
  text-align: center;
  position: relative;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 40px 0;

  .overlay {
    min-height: 400px;
    opacity: 0.8;
    background: #13350182;
    padding-top: 5px;
  }

  p {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-variant: small-caps;
    font-style: oblique;
  }

  .container {
    color: #fff;
    z-index: 100;
    padding: 10px 20px;
    
    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      
      p {
        font-weight: bold;
      }

      .small-text {
        text-align: center;
        font-size: 22px;
      }

      .large-text {
        text-align: left;
        line-height: 2;
        font-size: 18px;
      }
    }

  }
}