/* @font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url(../assets/fonts/Open_Sans/OpenSans-Bold.ttf) format("opentype");
} */
.user-info-container {
  display: flex;
  flex-direction: row;
  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .quoteIcon {
      color: #b19777;
      text-align: center;
      font-size: 150px;
    }
    .quotes {
      line-height: 1.8;
      font-weight: bold;
      color: #181818;
      font-size: 24px;
      font-family: "Open Sans", sans-serif;
      text-align: center;
      padding-left: 250px;
      padding-right: 250px;
    }
    .avatar {
      height: 100px;
      width: 100px;
      text-align: center;
      align-items: center;
      margin-bottom: 10px;
    }
    .name {
      margin-bottom: 10px;
      color: #b19777;
      font-weight: 700;
      font-size: 20px;
      text-align: center;
    }
    .rating {
      color: #b19777;
      font-size: 16px;
    }
  }
}
.happy {
  margin-top: 80px;
  padding-bottom: 80px;
  //background-image: url("../../assets/hexagonal-shape.jpg");
  text-align: center;
  position: relative;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  
  h2 {
    color: #465c40;
    letter-spacing: 1px;
  }
  // margin: 100px 0 50px 0;
  .text-container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    // margin-left: 50%;
    // margin-right: 50%;
    .active-indicator-props {
      margin-top: 40px;
      color: #b19777;
    }
    .indicator-props {
      color: #1cc3b2;
    }
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .user-info-container {
    .user-info {
      // .quoteIcon {
      //   font-size: 70px;
      // }
      .quotes {
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .user-info-container {
    .user-info {
      // .quoteIcon {
      //   font-size: 70px;
      // }
      .quotes {
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .user-info-container {
    .user-info {
      // .quoteIcon {
      //   font-size: 70px;
      // }
      .quotes {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
