@import "../variable.scss";

$primary-color: map_get($base-colors, "primary-color");
$dark-primary-color: map_get($base-colors, "dark-primary-color");
$secondary-color: map_get($base-colors, "secondary-color");
$light_gray: map_get($font-colors, "light-gray");
$dark_gray: map_get($font-colors, "dark-gray");
$white: map_get($font-colors, "white");
$alto: map_get($font-colors, "alto");
$black: map_get($font-colors, "black");
$niagara: map_get($font-colors, "niagara");
$yellow-orange: map_get($font-colors, "yellow-orange");
$burnt-sienna: map_get($font-colors, "burnt-sienna");
$dodger-blue: map_get($font-colors, "dodger-blue");
$gurkha: map_get($base-colors, "gurkha");
$gurkha-light: map_get($base-colors, "gurkha-light");
$tom-thumb: map_get($base-colors, "tom-thumb");
$tom-thumb-light: map_get($base-colors, "tom-thumb-light");
$mirage: map_get($base-colors, "mirage");
$mantis: map_get($font-colors, "mantis");


.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: fangsong;

  .decorative-element-left {
    margin-top: 30px;

    &:before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 12px;
      height: 8px;
      background: $mirage;
    }

    text-transform: uppercase;
    color: $mirage;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 0 4px 3px;
      border-color: transparent transparent transparent $mirage;
    }

    .decorative-element-right {
      &:before {
        position: absolute;
        content: "";
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 12px;
        height: 8px;
        background: $mirage;
      }

      &:after {
        content: "";
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%) rotate(-180deg);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 0 4px 3px;
        border-color: transparent transparent transparent $mirage;
      }
    }
  }

  .banner {
    width: 100%;
    min-height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      width: 100%;
      height: auto;
      max-height: 950px;
    }

    .text-container {
      position: absolute;
      bottom: 10%;
      left: 50px;

      h1 {
        color: $niagara;
        text-transform: capitalize;
        line-height: 0.8;
        font-size: 56px;
        letter-spacing: 1px;
        font-weight: bold;
      }

      h3 {
        color: $black;
        font-size: 24px;
        font-weight: 400;
        text-transform: capitalize;
        letter-spacing: 1px;
        font-weight: bold;
        overflow: hidden;
        /* Ensures the content is not revealed until the animation */
        border-right: 0.15em solid orange;
        /* The typwriter cursor */
        white-space: nowrap;
        /* Keeps the content on a single line */
        animation: typing 2.5s steps(80, end), blink-caret 0.75s step-end infinite;
      }

      .learn-more-button {
        background-color: $dodger-blue;
        color: $white;
        letter-spacing: 1px;
        font-weight: bold;
        padding: 10px;
        width: 150px;

        &:hover {
          background-color: $tom-thumb;
        }
      }
    }
  }

  img {
    width: 100%;
  }

  .title-text {
    width: 50%;
    font-size: xx-large;
    font-family: cursive;
    font-weight: 100;
  }

  .page-title {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    color: $black;
    margin-top: 80px;
    line-height: 1;
  }

  .contact-section {
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .founding-pillers-container,
  .gen-next-container {
    margin-top: 50px;
    width: 95%;
  }

  @media (min-width: 280px) and (max-width: 400px) {
    .banner {
      min-height: 130px;

      .text-container {
        padding-bottom: 20px;

        h1 {
          font-size: 18px;
        }

        h3 {
          font-size: 14px;
        }

        .learn-more-button {
          font-size: 10px;
          font-weight: bold;
        }
      }
    }
  }

  @media (min-width: 400px) and (max-width: 650px) {
    .banner {
      min-height: 180px;

      .text-container {
        h1 {
          font-size: 32px;
        }

        h3 {
          font-size: 20px;
        }
      }
    }
  }

  @media (min-width: 650px) {
    .banner {
      .text-container {
        bottom: 30%;
        left: 15%;
      }
    }
  }

  @media (min-width: 650px) and (max-width: 950px) {
    .banner {
      min-height: 250px;

      .text-container {
        bottom: 30%;

        h1 {
          font-size: 36px;
        }

        h3 {
          font-size: 24px;
        }
      }
    }
  }

  @media (min-width: 950px) and (max-width: 1300px) {
    .banner {
      min-height: 400px;
    }
  }

  .testimony {
    margin-top: 20px;
    box-shadow: 0 2px 14px 5px rgba(20, 20, 20, 0.05);

    blockquote {
      position: relative;

      p {
        margin-top: 20px;
        font-style: italic;
        letter-spacing: 2px;
        font-family: Georgia, serif;
        line-height: 1.4 !important;
        margin: 0;
        position: relative;
        text-shadow: 0 1px white;

        &:before {
          content: "\201C";
          color: #81bedb;
          font-size: 7.5em;
          font-weight: 700;
          opacity: 0.3;
          position: absolute;
          top: -0.4em;
          left: -0.2em;
          text-shadow: none;
        }
      }
    }

    .testimony-image {
      width: 10%;
      margin-left: 40%;
      margin-top: 2%;
    }
  }

  .align-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: orange;
  }
}