@import "../variable.scss";

$primary-color: map_get($base-colors, "primary-color");
$dark-primary-color: map_get($base-colors, "dark-primary-color");
$secondary-color: map_get($base-colors, "secondary-color");
$black: map_get($font-colors, "black");
$gurkha: map_get($base-colors, "gurkha");
$gurkha-light: map_get($base-colors, "gurkha-light");
$tom-thumb: map_get($base-colors, "tom-thumb");
$tom-thumb-light: map_get($base-colors, "tom-thumb-light");
$mirage: map_get($base-colors, "mirage");
$mantis: map_get($font-colors, "mantis");

.our-partners {
  text-align: center;
  margin-top: 80px;
  width: 80%;
  font-size: 20px;
  h2 {
    color: $tom-thumb;
    letter-spacing: 1px;
    word-spacing: 2px;
  }

  h5 {
    text-align: left;
    color: $mirage;
    line-height: 1.8;
    display: inline-block;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: 18px;
  }

  .grid-container {
    position: relative;

    .grid-item {
      display: flex;
      align-items: center;
      z-index: 10;
      padding: 10px;

      .partner-img-grid-item {
        display: flex;
      }
    }
  }
}
