@import "../variable.scss";

$primary-color: map_get($base-colors, "primary-color");
$dark-primary-color: map_get($base-colors, "dark-primary-color");
$secondary-color: map_get($base-colors, "secondary-color");
$light_gray: map_get($font-colors, "light-gray");
$dark_gray: map_get($font-colors, "dark-gray");
$white: map_get($font-colors, "white");
$alto: map_get($font-colors, "alto");
$black: map_get($font-colors, "black");
$niagara: map_get($font-colors, "niagara");
$yellow-orange: map_get($font-colors, "yellow-orange");
$burnt-sienna: map_get($font-colors, "burnt-sienna");
$dodger-blue: map_get($font-colors, "dodger-blue");
$gurkha: map_get($base-colors, "gurkha");
$gurkha-light: map_get($base-colors, "gurkha-light");
$tom-thumb: map_get($base-colors, "tom-thumb");
$tom-thumb-light: map_get($base-colors, "tom-thumb-light");
$mirage: map_get($base-colors, "mirage");
$mantis: map_get($font-colors, "mantis");

.what-we-offer {
  text-align: center;
  margin-top: 80px;
  width: 100%;
  //background: url(../../assets/bg-primary.jpg);
  background-size: contain;
  padding: 30px 0 100px 0;

  h3 {
    font-size: 30px;
    line-height: 1.6;
    color: $tom-thumb;
  }

  .icon-decorative {
    position: relative;

    .icon {
      color: $tom-thumb;
      font-size: 150px;
    }

    &:before {
      position: relative;
      display: inline-block;
      font-weight: 400;
      font-style: normal;
      text-transform: none;
    }

    &:after {
      content: "";
      position: absolute;
      top: 49%;
      left: 54%;
      width: 350px;
      height: 300px;
      //background: url(../../assets/page-1_img06.png) no-repeat;
      z-index: 0;
      transform: translateX(-50%) translateY(-50%) scale(1);
    }
  }
}

/*=================  Custom Wrapper  =====================*/
.custom-wrapper {
  display: inline-block;
  position: relative;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .custom-wrapper {
    margin-top: 152px;
    margin-bottom: 100px;
  }
}

@media (min-width: 768px) {
  .custom-wrapper [class*="wr"] {
    position: absolute;
    min-width: 215px;
    max-width: 220px;
    height: 40px;
  }
}

@media (min-width: 768px) {
  .custom-wrapper .wr1 {
    text-align: right;
    left: -333px;
    top: -8%;
  }
}

@media (min-width: 768px) {
  .custom-wrapper .wr2 {
    left: 49%;
    top: -185px;
    transform: translateX(-50%);
  }
}

@media (min-width: 768px) {
  .custom-wrapper .wr3 {
    text-align: left;
    right: -330px;
    top: -8%;
  }
}

.custom-wrapper .wr4 {
  margin-top: -20px;
}

@media (min-width: 768px) {
  .custom-wrapper .wr4 {
    text-align: right;
    left: -312px;
    bottom: -2%;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .custom-wrapper .wr5 {
    left: 49%;
    bottom: -105px;
    transform: translateX(-50%);
  }
}

@media (min-width: 768px) {
  .custom-wrapper .wr6 {
    text-align: left;
    right: -308px;
    bottom: -2%;
  }
}

.custom-wrapper * + p {
  margin-top: -2px;
}

.custom-wrapper [class*="wr"] + [class*="wr"] {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .custom-wrapper [class*="wr"] + [class*="wr"] {
    margin-top: 0;
  }
}
