@import "../variable.scss";

$primary-color: map_get($base-colors, "primary-color");
$dark-primary-color: map_get($base-colors, "dark-primary-color");
$secondary-color: map_get($base-colors, "secondary-color");
$black: map_get($font-colors, "black");
$gurkha: map_get($base-colors, "gurkha");
$burnt-sienna: map_get($font-colors, "burnt-sienna");
$tom-thumb: map_get($base-colors, "tom-thumb");
$tom-thumb-light: map_get($base-colors, "tom-thumb-light");
$millbrok: map_get($base-colors, "millbrok");
$mirage: map_get($base-colors, "mirage");
$mantis: map_get($font-colors, "mantis");
$white: map_get($font-colors, "white");
$cello: map_get($font-colors, "cello");
$shuttle_gray: map_get($font-colors, "shuttle_gray");

.founding-pillers-container {
    width: 98%;
    margin: 0 auto;

    .stars {
        font-size: 35px;
        color: #D49505;
        text-align: center;
        margin-bottom: 20px;
    }

    .grid-image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .grid-image {
        img {
            width: 100%;
            height: auto;
            margin-top: 80px;
        }
    }

    .role-grid {
        position: relative;

        .role-container {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            left: 0;
            bottom: 5px;
            background-color: $cello;
            padding: 8px 0;
            opacity: 0.8;

            span {
                color: #fff;
                font-weight: bold;
            }
        }
    }


    .founding-pillers {
        width: 90%;
        margin: 0 auto;
        padding: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;

        button {
            margin-top: 30px;
            background-color: $mantis;
            color: $white;
        }

        .grid-text-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .title {
                color: $cello;
                font-style: oblique;
                word-spacing: 2px;
                letter-spacing: 1px;
                font-family: serif;
                font-variant: small-caps;
            }
        }
    }

    .message {
        line-height: 0.1em;
        margin-top: 120px;
        font-family: "Pinyon Script", cursive;

        h1 {
            text-align: center;
            font-size: 250px;
            color: transparent !important;
            -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
            position: absolute;
            margin-top: 90px;
            justify-content: center;
            margin-left: -35px;
            margin-right: 300px;
        }

        h3 {
            text-align: center;
            font-size: 30px;
            font-family: "Pinyon Script", cursive;
            font-weight: bold;
            z-index: 3;
            position: relative;
            margin: 0;
            color: #b19777;
            font-variant: small-caps;
            font-style: oblique;
        }

        h4 {
            text-align: center;
            font-size: 65px;
            font-family: "Mukta", serif;
            font-variant: small-caps;
            font-style: oblique;
            color: #b19777;
            font-weight: 600;
            padding: 0;
            margin-top: 60px;
        }
    }

    .sharad {
        width: 98%;
        margin: 0 auto;

        ul {
            list-style-type: none;
        }

        .grid-text-container {
            padding: 0 10px;

            .content {
                text-align: left;
                font-size: 19px;
                letter-spacing: 1.5px;
                line-height: 1.6;
                color: #636a76;

                .tag-line {
                    color: $burnt-sienna;
                    font-variant: small-caps;
                    font-style: oblique;
                }
            }
        }

        .grid-image {
            img {
                width: 100%;
                height: auto;
                margin-top: 0px;
                border-radius: 8px;
            }
        }
    }

    .tanushree {
        width: 90%;
        margin: 0 auto;
        padding: 30px;

        ul {
            list-style-type: none;
        }

        .who-v-r-container {
            margin-top: 40px;
            padding: 0 10px;

            .grid-text-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .title {
                    color: $cello;
                    font-style: oblique;
                    word-spacing: 2px;
                    letter-spacing: 1px;
                    font-family: serif;
                    font-variant: small-caps;
                }

                .content {
                    font-size: 19px;
                    letter-spacing: 1.5px;
                    word-spacing: 2px;
                    color: #636a76;
                    /*           font-weight: bold;
 */
                    line-height: 1.5;

                    .tag-line {
                        color: $burnt-sienna;
                        font-style: italic;
                    }
                }
            }

            .grid-image {
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 8px;
                }
            }
        }
    }

}